body{
margin:0px;

padding : 50px 0px 0px 0px;
z-index: 0;

font-family:sans-serif;
}

image{
	width:1235px ;
	height:200px
}
.navbar-dark{
    background-color:#019EC3;
}
#sidebar{

background:#007889;
width:230px;
height:100%;

display:block;
position:absolute;
left:0px;
top:60px;
transition: left 0.3s linear;

}
	
.menu-content{
	margin:0px;
	padding:0px;
	background:#007889;
	
}
ul li{

list-style:none;

}
ul li a{
	
	color:#ccc;
	border-bottom:1px solid #019EC3;
	display:block;
	width:180px;
	padding:25px;
	text-decoration:none;
	
}
#c1{
	padding-left: 230px;
	padding-top: 25px;
	
}
.card1 {
	overflow:hidden;
    width: 250px;
  	box-shadow:  0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	text-align: center;
    transition: 0.3s;
    
	
}

.card1:hover {
  width: 250px;
  box-shadow:  0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}


.card2 {
	overflow:hidden;
    width: 250px;
  	box-shadow:  0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	text-align: center;
    transition: 0.3s;
    
	
}

.card2:hover {
  width: 250px;
  box-shadow:  0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.card3 {
	overflow:hidden;
    width: 250px;
  	box-shadow:  0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	text-align: center;
    transition: 0.3s;
    
	
}

.card3:hover {
  width: 250px;
  box-shadow:  0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.card4 {
	overflow:hidden;
    width: 250px;
  	box-shadow:  0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	text-align: center;
    transition: 0.3s;
    
	
}

.card4:hover {
  width: 250px;
  box-shadow:  0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
